#pektisEnotita {
	background-color: #E7E696;
}

#kafenioEnotita {
	background-color: #A7D3D3;
}

#trapeziEnotita {
	background-color: #CCE5AD;
}

#pexnidiEnotita {
	background-color: #CAC69C;
}

#partidaEnotita {
	background-color: #E3CCEF;
}

#dialogos {
	background-color: teal;
}

#anazitisiArea {
	background-color: teal;
}

#thamonasArea {
	background-color: olive;
}

.thamonasOnoma {
	background-color: teal;
}

.sizitisiLabel {
	background-color: rgba(0, 128, 41, 0.1);
}
